XML/biome.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="biome" type="xs:string" />
        <xs:element name="blocks" type="xs:string" />
        <xs:element name="rarity" type="xs:string" />
        <xs:element name="temperature" type="xs:int" />
        <xs:element name="type" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>