XML/DatasetValidatie.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="row">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ore" type="xs:string" />
                            <xs:element name="tool" type="xs:string" />
                            <xs:element name="abundance" type="xs:string" />
                            <xs:element name="biome">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string" />
                                        <xs:element name="rarity" type="xs:string" />
                                        <xs:element name="temperature" type="xs:double" />
                                        <xs:element name="type" type="xs:string" />
                                        <xs:element maxOccurs="unbounded" name="blocks_biome" type="xs:string" />
                                        <xs:element maxOccurs="unbounded" name="blocks">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="name" type="xs:string" />
                                                    <xs:element name="biome" type="xs:string" />
                                                    <xs:element name="renewable" type="xs:double" />
                                                    <xs:element name="tool" type="xs:string" />
                                                    <xs:element name="flammable" type="xs:double" />
                                                    <xs:element name="breaking_time" type="xs:double" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="most_found_in_layers" type="xs:string" />
                            <xs:element name="none_at_or_above" type="xs:double" />
                            <xs:element name="rare_on_layers" type="xs:string" />
                            <xs:element name="commonly_up_to_layers" type="xs:double" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>