API/public/xsd/block.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="biome" type="xs:string" />
        <xs:element name="block" type="xs:string" />
        <xs:element name="breaking_time" type="xs:string" />
        <xs:element name="flammable" type="xs:string" />
        <xs:element name="renewable" type="xs:string" />
        <xs:element name="tool" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>